<div class="holerite">
    <div class="head-holerite">
        <label for="">Recibo do Pagamento de Sálario</label>
    </div>
    <div class="box">
        <div class="sub-head-holerite conteiner">
                <label for="" class="empresa">Empresa: Supermercado Ideal Ltda</label>
                <br>
                <label for="" class="endereco">Endereço: Rua Nelson Floriano Campos</label>
                <br>
                <label for="" class="funcao">Função: Repositor</label>
                <br>
                <label for="" class="emploeeys">Funcionário: 0012 Kauan dos Santos de Souza</label>
                <br>
                <label for="" class="local">CNPJ: 20.147.521/0001-50</label>
                <br>
                <label for="mes" class="meth">Mês: Setembro/10</label>
        </div>
    </div>

    <div class="body-boss conteiner">
        <div class="box">
            <div class="title">
                <div class="box-title cod">
                    <label for="">Cód</label>
                </div>
                <div class="box-title desc">
                    <label for="">Descrição</label>
                </div>
                <div class="box-title ref">
                    <label for="">Referência</label>
                </div>
                <div class="box-title venc">
                    <label for="">Vencimento</label>
                </div>
                <div class="box-title des">
                    <label for="">Descontos</label>
                </div>
            </div>
            <div class="conteiner">
                <div class="box-body sub-cod">
                    <label for="">1</label>
                    <br>
                    <label for="">107</label>
                    <br>
                    <label for="">510</label>
                    <br>
                    <label for="">520</label>
                </div>
                <div class="box-body sub-desc">
                    <label for="">Sálario contra atual</label>
                    <label for="">Insalubridade 20%</label>
                    <label for="">Arredondamento</label>
                    <br>
                    <label for="">Desconto INSS</label>
                </div>
                <div class="box-body sub-ref">
                    <label for="">30.00</label>
                    <br>
                    <label for="">1.00</label>
                    <br>
                    <label for=""></label>
                    <br>
                    <label for="">11%</label>
                </div>
                <div class="box-body sub-venc">
                    <label for="">3.000</label>
                    <br>
                    <label for="">102</label>
                    <br>
                    <label for="">0.80</label>
                </div>
                <div class="box-body sub-des">
                    <label for=""></label>
                    <br>
                    <label for=""></label>
                    <br>
                    <label for=""></label>
                    <br>
                    <label for="">231.22</label>
                </div>
            </div>
        </div>
        <div class="end-box conteiner">
            <div class="message">
                <label for="">COLOQUE DEUS, CONCIENTIMENTE, EM TUDO O QUE FAZ, EM TODOS OS SEUS PROBLEMAS</label>
            </div>
            <div class="valor-venvc">
                <label for="">Total de Vencimentos</label>
                <br>
                <label for="">3.102.80</label>
            </div>
            <div class="valor-liq">
                <label for="">Valor Líquido R$</label>
            </div>
            <div class="valor-desconto">
                <label for=""> Total de Descontos</label>
                <br>
                <label for="">231.22</label>
            </div>
            <div class="valor-liq-total">
                <label for="">2.871.58</label>
            </div>
        </div>
        <div class="roda-pe conteiner">
            <div class="salario-base">
                <label for="">Sálario Base</label>
                <br>
                <label for="">2.000</label>
            </div>
            <div class="salario-inss">
                <label for="">Sálario Cont. INSS</label>
                <br>
                <label for=""></label>
            </div>
            <div class="base-fgts">
                <label for="">Base Calc. FGTS</label>
                <br>
                <label for="">2.102.00</label>
            </div>
            <div class="mes-base-fgts">
                <label for="">FGTS do Mês</label>
                <br>
                <label for="">2.102.00</label>
            </div>
            <div class="base-irrf">
                <label for="">Base Calc. IRRF</label>
                <br>
                <label for="">248.22</label>
            </div>
            <div class="total">
                <label for="">1.989.57</label>
            </div>
            <div class="declaracao">
                <label for="">DECLARO TER RECEBIDO A IMPORTÂNCIA LÍQUIDA DESCRIMINADA NESTE RECIBO</label>
            </div>
            <div class="calendary">
                <label for="">_____/_____/_____</label>
                <br>
                <label for="">DATA</label>
            </div>
            <div class="assinatura">
                <label for="">_____________________________________________________________</label>
                <br>
                <label for="">ASSINATURA DO FUNCIONÁRIO(A)</label>
            </div>
        </div>
    </div>  
</div>